html {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    color: aquamarine;
    font-size: 1rem;
    text-align: center;
}

h1 {
    font-size: 3.125rem;
    color: white;
    text-align: center;
}